@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}




/*-----------------------------------------BANNER--------------------------------*/

*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #b15196;
  color: #393b56;
}

section{
  background-color: rgb(243, 242, 242);
  display: flex;
  font-family: 'Proxima Nova';
  justify-content: center;
  width: 90%;
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 100vh;
}

.back-to-menu{
  background-color: #3b3b56;
  width: 200px;
  height: 50px;
  text-align: right;
  line-height: 50px;
  color: white;
  padding-right: 20px;
  font-weight: 500;
  position: absolute;
  left: -10px;
  border-radius: 10px;
  top: 40px;
}

.back-to-menu:hover, button:hover{
  cursor: pointer;
}

.fa-less-than{
  font-size: 12px;
}

img{
  width: 85%;
}

.info{
  width: 45%;  
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.food-description{
  width: 350px;
  font-size: 14px;
}

.image-pizza{
  height: 450px;
  min-width: 450px;
  width: 450px;
  display: flex;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 100px 10px;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.4);
}

.ingredients{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 20px 0px rgba(0,0,0,0.5);
  width: 500px;
}

.ingredient-text{
  font-size: 14px;
  margin-left: 10px;
}

.topping{
  font-weight: 700;
}

.food-icon{
  font-size: 20px;
  color: #8788d0;
}

.food{
  width: 30%;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
}

h1{
  font-size: 45px;
}

.pepper-text{
  font-weight: 600;
  font-size: 16px;  
  margin: 0px 0px 0px 10px;
}

.pepper{
  display: flex;
}

.pepper-red{
  color:firebrick;
}

.pepper-grey{
  color: grey;
}

.price-container{
  display: flex;
  height: 30px;
  width: 350px;
  justify-content: space-between;
}

.number-selector{
  background-color: white;
  border-radius: 4px;
  display: flex;  
  height: 41px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px 0px rgba(0,0,0,0.5);
}

.number{
  width: 50px;  
  height: 41px;
  box-sizing: border-box;
  font-size: 22px;
  background-color: white;
  text-align: center;
}

.price-container button{
  border: none;
}

.price-container input{
  font-weight: 700;
  border-top: none;
  border-bottom: none;
}

.main-price{
  border-radius: 10px;
  background-color: white;  
  box-shadow: 0 5px 20px 0px rgba(0,0,0,0.5);
  width: 150px;
  font-size: 22px;
  height: 41px;
  line-height: 41px;
  text-align: center;
}

input{
  padding: 0;
}

.price-color{
  color: #db3e75;
  font-weight: bold;
}

.cart{
  width: 350px;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #716ec6 0%, rgb(228, 22, 125) 100%);
}

@media(max-width: 1200px){
  .ingredients{
    width: 350px;
  }

  h1{
    font-size: 36px;
  }

  .image-pizza{
    min-width: 300px;
    width: 300px;
    height: 300px;
  }
}

@media(max-width: 800px){
  .main-food{
    height: 700px;
  }

  h1{
    font-size: 24px;
  }

  .food-description{
    width: 200px;
  }

  .image-pizza{
    margin-top: 200px;
  }

  .price-container{
    flex-direction: column;
    height: 100px;
    align-items: flex-start;
  }
  .number-selector, .main-price{
    transform: scale(.8);
  }

  .cart{
    width: 200px;
  }

  .ingredients{
    width: 230px;
    flex-wrap: wrap;
  }

  .food{
    width: 50%;
  }
}



/*-----------------------------------------------------------------------------------*/


body {
  background: rgb(184,9,136);
  background: linear-gradient(90deg, rgba(184,9,136,1) 0%, rgba(142,67,144,1) 100%);
}

header {
  font-family: 'Proxima Nova';
  height: 120px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  overflow: hidden;
}

.logo-container {
  display: flex;
  color: #3b3b55;
  width: 24%;
  margin-left: 70px;
  margin-bottom: 20px;
}

.logo-icon {
  font-size: 55px;
  margin: 10px;
  color:  rgba(184,9,136,1);
}

/*.name-container {
 
}*/

.header-title {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
}

.header-subtitle {
  font-size: 8px;
  letter-spacing: 9px;
  font-weight: 300;
  margin: 0;
}

/*-----------------------------------
                 ADDRESS
-----------------------------------*/
.right-container {
  width: 65%;
  display: flex;
  padding-bottom: 25px;
  margin-left: 80px;
}

.location {
  font-size: 13px;
  color: #bbbbc6;
  margin-right: 15px;
  margin-top: 20px;
}
.header-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}
.location-form {
  margin-bottom: 10px;
}
.location-input {
    font-size: 13px;
    font-weight: bold;
    width: 230px;
    border: none;
    color: #3b3b55;
}
.pencil-icon {
  color: #3b3b55;
}
.search-form {
  position: relative;
}
.question-form {
  width:320px;
  border-radius: 10px;
  border: 1px solid #bbbbc6;
  padding: 10px;
  font-family: 'Proxima Nova';
  }

.glass-icon {
  position: absolute;
  font-size: 17px;
  bottom: 10px;
  right: 20px;
}

.icons {
   position: relative;
   width: 70px;
   margin-right: 15px;
   margin-top: 20px;

}

.header-img {
  position: absolute;
  height: 70px;
}

.right-right {
  display: flex;
  justify-content: stretch;
}


.pasta-plate {
  top: 5px;
  z-index: 300;
    height: 70px;
    width: 70px;  
}

.rice-plate {
  top: -10px;
  left: 0;
  height: 70px;  
  z-index: 100;
  width: 70px;
}

.pizza-dish {
  top: -15px;
  left: 6px;
  height: 58px;  
}

.order-button {
  background: rgb(184,9,136);
  background: linear-gradient(90deg, rgb(65, 53, 202) 0%, rgb(228, 22, 125) 100%);
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0;
  margin: 10px;
}
.shopping-cart {
  background-color: white;
  color: rgb(209, 209, 209);
  box-shadow: 1px 1px 5px #ddd;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; 

}

.shopping-cart-hdr {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  font-size: 13px;
  background-color: rgb(42, 42, 66);  
  line-height: 22px;
}

.cart-amount {
  font-weight: 600;
  font-size: 17px;
}

.dish-letter {
  border-bottom: 1px dashed rgb(209, 209, 209);
  padding-bottom: 0.1px;

}
@media (max-width: 970px) {
  .right-container {
    flex-direction: column;
  }

  .search-form {
    width: 100%;
  }

  .question-form  {
    width: 100%;
  }
  
  .pencil-icon {
    display: none;
  }

  .right-right {
    display: none;
  }

  header {
    height: 130px;
  }
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 150px;
  }
  .logo-icon {
    font-size: 240%;
  }
  .location-form {
    display: none;
  }

  .logo-container {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  .logo-container {
    width: 50%;
  }
  .right-container {
    padding: 0;
    margin: 0;
  }

  .question-form {
    width:100%;
  }



.pizza-dish {
  top: -15px;
  left: 6px;
  height: 58px;  
}
}

/*END HEADER*/

.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  font-family: 'Proxima Nova';
  height: 100vh;
  
}
 li{
  margin-left: 10px;

}

.links ul{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 15px;
  margin-top: 15px;
   
}

  
  


.links li:nth-child(1){
  text-decoration: underline;
}


.links li:nth-child(3){
  text-decoration: underline;
}

.menu {
  width: 90%;
  border-bottom: 1px solid grey;
  margin-left: 5%;
  
}
.menu ul {
  width: 60%;  
  list-style: none;
  font-size: 23px;
  margin-top: 30px;  
  font-weight: 500;
  display: flex;
  justify-content: space-between;  
  padding-left: 0;  
  margin-bottom: 0;
  
}

.menu li{
  margin: 0;
  padding-right: 5px;
  padding-bottom: 2%;
  
}

.menu li:nth-child(1) {
  
  border-bottom: 3px solid #543864;
  
  
}
span {
  color:grey;
}

.cards{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  
  
  

}

.card{
  width: 20%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  height: 230px;
  box-shadow: 5px 5px 20px grey;
  
}
.card img{
  width: 60%;
  position: relative;
  top: -60px;
  left: 10px;
 
    
}

.fa-info-circle{
  position: relative;
  top: -120px;
  right: -25px;
  color: #d4d7dd;
  font-size: 20px; 

}

.plate{
  margin-top: -50px;
  font-size: 15px;
}

p{
  font-size: 12px;

}

.precio{
  font-size: 14px;
  margin-top: 28px;
  
}

.mas {
  border-radius: 50%;
  background-color: #fe346e;
  width: 15%;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  position: relative;
  bottom: -5px;
  left: 42%;
}
  

@media (max-width: 1200px){

  .container{
    height: 100%;
  }
 
  .card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 30px;
    margin-bottom:90px;
    position: relative;
    
  }
  
  .cards{
    display: flex;
    flex-wrap: wrap;
    
  }
  .card img{
    width: 158px;     
    margin-bottom: 2%;
    padding: 0;
    margin-top: 0;
    position: absolute;
    top: -80px;
    left: calc(50% - 79px);
      
  }
 

  .fa-info-circle {
   display: none;
  }

  .mas {
    font-size: 15px;
    margin-top: 2px;
    width: 30px; 
    position: absolute;
    bottom: 2px; 
    line-height: 30px;
    left: calc(50% - 15px);
    
    
  }
  .plate {
    margin-top: 0;
  }

  .card div:first-of-type {
    
    margin-bottom: 10px;

  }
}

@media (max-width: 600px) {
  .card {
    width: 70%;
  }
}