@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}

body{
  margin: 0;
  font-weight: lighter;
  background-color: #9656a1;
  display: flex;
  justify-content: center;

}
.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 10px;
  font-family: 'Proxima Nova';
  height: 100vh;
  
}
 li{
  margin-left: 10px;

}

.links ul{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 15px;
  margin-top: 15px;
   
}

  
  


.links li:nth-child(1){
  text-decoration: underline;
}


.links li:nth-child(3){
  text-decoration: underline;
}

.menu {
  width: 90%;
  border-bottom: 1px solid grey;
  margin-left: 5%;
  
}
.menu ul {
  width: 60%;  
  list-style: none;
  font-size: 23px;
  margin-top: 30px;  
  font-weight: 500;
  display: flex;
  justify-content: space-between;  
  padding-left: 0;  
  margin-bottom: 0;
  
}

.menu li{
  margin: 0;
  padding-right: 5px;
  padding-bottom: 2%;
  
}

.menu li:nth-child(1) {
  
  border-bottom: 3px solid #543864;
  
  
}
span {
  color:grey;
}

.cards{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  
  
  

}

.card{
  width: 20%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  height: 230px;
  box-shadow: 5px 5px 20px grey;
  
}
.card img{
  width: 60%;
  position: relative;
  top: -60px;
  left: 10px;
    
}

.fa-info-circle{
  position: relative;
  top: -120px;
  right: -25px;
  color: #d4d7dd;
  font-size: 20px; 

}

.plate{
  margin-top: -50px;
  font-size: 15px;
}

p{
  font-size: 12px;

}

.price{
  font-size: 14px;
  margin-top: 28px;
  
}

.mas {
  border-radius: 50%;
  background-color: #fe346e;
  width: 15%;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  position: relative;
  top: 10px;
  left: 42%;
}
  

@media (max-width: 1200px){
 
  .card{
    width: 40%;
    
  }
  
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .card img{
    width: 50%;    
  }
 

  .fa-info-circle {
    margin-top: 30%;
    position: relative;
    font-size: 90%;
  }

  .mas {
    position: static;
    font-size: 90%;
    width: 10%;
    margin: 15% auto;
  }
}